@import "tailwindcss";



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #0c0b0b;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
